{{ define "main" }}
<!-- <div id="home" class="container p-5 text-center">
    <h1 class="title text-center">{{ .Site.Title }}</h1>
</div> -->
{{ with .Site.GetPage "/posts" }}
{{ range .Pages.ByPublishDate.Reverse}}
<div class="border border-3 border-secondary">
  <h1 class="post-title">
    <a href="{{ .Permalink }}" class="text-success fs-2">
      {{ .Title }}
    </a>
  </h1>
  <time datetime="{{ .PublishDate.Format " 2006-01-02" }}" class="me-5">
    {{ .PublishDate.Format "2006-01-02" }}
  </time>

  {{ .Description }}
</div>

<hr>
{{ end }}
<p class="text-center fw-light">
  <a href="https://beian.miit.gov.cn/" class="text-decoration-none">晋ICP备2023017451号</a>
  访问量: 
  <span id="busuanzi_value_site_pv"></span>
</p>
{{ end }}
{{ end }}